html,body{margin:0px}a{text-decoration:none;}li{list-style:none;}.Aplicacion{margin:0;height:100%;}

.centrado{display:flex;justify-items:center;align-items:center;justify-content:center;}
.cuadro_mensaje{position:fixed;z-index:100;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(0,0,0,0.1);}
.error{font-size:3vh;color:#ee6e6e;background-color:#f3cdcd;margin:15% auto;padding:15px;border:2px solid #ee6e6e;border-radius:8px;width:max-content;}

.logo_aplicacion{background:#154360;}
.logo_aplicacion img{width:89%;height:45px;}

.barra_herramientas {display:flex;justify-content:flex-end;z-index:100;background:#205497;width:100%;height:50px;}
.barra_herramientas_titulo div{height:100%;margin-left:75px;}

.barra_herramientas_items{display:grid;grid-template-columns:repeat(2,1fr);grid-gap:5px;margin:0px 5px;}
.barra_herramientas_items div{padding:0px;margin:0px;display:flex;justify-items:center;align-items:center;justify-content:center;}

.barra_lateral {background:#154360;}
.barra_lateral_items {display:grid;border:1px dotted #2471A3;}

.boton_barra_lateral{border-bottom:1px solid #2471A3;margin:0px;padding:0px;height:40px;color:whitesmoke;}
.boton_barra_lateral {display:grid;grid-template-columns:20% 90%;grid-gap: 5px;;font-size:19px;}


.boton_barra_lateral div{display:flex;align-items:center;margin:5px;}
.boton_barra_lateral:hover {background:#205497;}



.Menu{margin:auto;height:100%;width:100%;display:grid;grid-template-columns:15% 85%;}
.Paginas{background-color:whitesmoke;margin-top: 5px;}

.Principal{display:grid;grid-template-columns:repeat(1,1fr);grid-gap:20px;}

.lista_pedido {
    transform: translateY(-10%);
    opacity: 0;
    top: 65px;
    left: 1%;
    transition: all 0.5s ease-in-out;
    transform: translateY(0%);
    width: 500px;
    z-index: 999;
    display: grid;
    grid-gap: 10px;
    border: 2px solid #5fbd3e;
    border-radius: 8px;
    background-color: whitesmoke;
}
.lista_pedido div{padding:10px;}

.boton_imagen {
    border-radius:20px;
    cursor:pointer;
    position:relative;
    height:25vh;width:70%;
}
.boton_imagen img{z-index:-100;width:100%;height:100%;border-radius:20px;}
.boton_imagen div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    position:absolute;
    font-size:5vh;
    font-weight:bold;
    top:50%;left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    color: whitesmoke;
    background:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    );
    border-radius: 20px;
}

.opcion_menu a{display:flex;justify-content:center;align-items:center;padding:15px;border-bottom:1px solid #ced4da}
.opcion_menu a img{width:45px;}


.tipo_pago{display:grid;grid-gap:20px;}

.usuario_direccion{display:grid;grid-template-columns:90%10%;}
.usuario_datos{display:grid;grid-template-columns:70%;grid-gap:10px;padding:10px;}
.eliminar_direccion{display:flex;justify-content:center;align-items: center;}

.Pedido{display:grid;grid-gap:20px;margin:10px;}
.pedido_encabezado{display:grid;grid-template-columns:20% 80%;grid-gap:10px;margin:10px;}
.pedido_siguiente{display:flex;justify-content:center;align-items:center;}
.pedido_siguiente button{width:150px;height:60px;font-size:25px;}
.pedido_datos{display:grid;}
.pedido_pago{display:grid;grid-gap:20px;}

.Error404{background-color:transparent;}
.Cliente{display:grid;grid-template-columns:1fr;grid-gap:10px;margin:10px;}
.Registro{display:grid;grid-gap:20px;margin:10px;}

.ocultar {display:none;}


.registro_imagen{display:grid;}
.registro_datos{display:grid;grid-template-columns:1fr;grid-gap:10px;width:250px;}
.registro_confirmacion{display:grid;grid-template-columns:1fr;grid-gap:10px;width:350px;}
.registro_siguiente{display:flex;justify-content:center;align-items:center;}
.registro_siguiente button{width:150px;height:50px;font-size:20px;}


.boton_pedido,.lista_pedido{
    position: absolute;
}

#checkbox_pedido{display: none;}

.boton_pedido {
    cursor: pointer;
    top: 8%;
    left: 16%;
    z-index: 1000;
    width: 60px;
    height: 60px;
    background-color:whitesmoke;
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
    box-shadow: 1px 3px 10px 0 rgba(0,0,0,0.3);
}
.boton_pedido div{
    margin: 1px;
    width: 59px;
    height: 59px;
    border-radius: 90%;
}
#checkbox_pedido:checked ~ .lista_pedido{
    opacity: 1;
    transform: translateY(10%);
}
#checkbox_pedido:checked ~ .boton_pedido{
    transform: rotate(-20deg);
    box-shadow: 0 0 0 0 transparent;
}

.Ingreso{display:grid;grid-gap:20px;}
.ingreso_encabezado{display:grid;grid-template-columns:10% 90%;grid-gap:10px;margin:10px;}
.ingreso_datos{display:grid;grid-gap:10px;}
.ingreso_siguiente{width:150px;height:50px;font-size:20px;}


.Producto{background-color:transparent;display:grid;grid-template-columns:repeat(1,1fr);grid-gap:20px;}
.producto_lista{display:grid;}
.producto_tipo{font-size:25px;height:100px;;border-radius:8px;cursor:pointer;}

.producto_item {
    border-radius:20px;
    cursor:pointer;
    position:relative;
    height:20vh;
    margin: 1vh;
}
.producto_item img{z-index:-100;width:100%;height:100%;border-radius:20px;}
.producto_item_datos{
    display: grid;
    grid-template-columns: 90% 10%;
    position:absolute;
    top:50%;left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    color: whitesmoke;
    background:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    );
    border-radius: 20px;
}
.producto_item_datos label{
    display: grid;
    padding: 15px;
}
.producto_item_datos button{
    position:absolute;
    top:35%;left:85%;
    height: 30px;
    width: 30px;
}

.productos_encabezado{display:grid;grid-template-columns:10% 80% 10%;grid-gap:10px;}
.productos_paginacion{display:grid;grid-template-columns:5% 40px 5%;grid-gap:15px;}
.productos_lista{display:grid;grid-template-columns:repeat(1,1fr);grid-gap:10px;}


.item_producto{display:grid;grid-template-columns:50px 300px 30px;grid-gap:10px;}
.item_producto_imagen img{width:80px;}
.productos_disponibles{display:grid;grid-template-columns:repeat(1,1fr);grid-gap:10px;}


.Entrega{display:grid;grid-gap:20px;margin:10px;}
.entrega_encabezado{display:grid;grid-template-columns:10% 90%;grid-gap:10px;margin:10px;}
.entrega_cuerpo{display:grid;grid-gap:20px;margin:20px;}
.entrega_siguiente{width:170px;height:50px;font-size:20px;}

@media (max-width: 400px){
    .lista_pedido {left:1%;width:350px;}
    .barra_lateral {display:none;}
    .paginas_aplicacion{margin-left:0%;width:100%;height:100%;}
    .Paginas{margin:20px;}.boton_imagen{width:100%;}
}
