html{scroll-behavior:smooth;}html,body{margin:0px;height:100%;}a{text-decoration:none;}li{list-style:none;}
table{border-collapse:collapse;}th{padding:8px;background:#fafafa;color:#8b8b8b;letter-spacing:2px;}td{padding:5px;}
tr{border-bottom:1px solid lightgray;padding-top:4px;height:6vh;}
tr:hover td{background:#e51b1b;color:#ffffff;}tr.interlinea{background-color:#fafafa;}

fieldset{border-radius:5px;}fieldset legend{color:#e51b1b;font-weight:bold;font-size:18px;letter-spacing:2px;}
fieldset input{border:none;font-size:15px;width:100%;padding:2px;}fieldset textarea{border:none;font-size:15px;width:100%;height:50px;}
fieldset div{display:flex;align-items:center;}input:focus{outline:none;}

.centrado{display:flex;justify-items:center;align-items:center;justify-content:center;}
.cuadro_mensaje{position:fixed;z-index:100;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(0,0,0,0.1);}
.error{font-size:3vh;color:#ee6e6e;background-color:#f3cdcd;margin:15% auto;padding:15px;border:2px solid #ee6e6e;border-radius:8px;width:max-content;}

.modal{position:fixed;z-index:100;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(0,0,0,0.5);}
.modal_ventana{background:whitesmoke;margin:15vh auto;padding:15px;border-radius:4px;width:max-content;box-shadow:10px 5px 10px 0 rgba(0, 0, 0, 0.5);}
.modal_encabezado{font-size:20px;display:grid;grid-template-columns:90%10%;}
.boton_cerrar{cursor:pointer;border:solid 2px #e51b1b;color:#e51b1b;border-radius:8px;text-align:center;width:20px;height:20px;justify-self:end;font-weight:bold;margin-left:10px;}
.boton_cerrar:hover,.boton_cerrar:focus{color:red;border-color:red;}

.ModalIngreso {display:grid;grid-gap:20px;}
.modal_ingreso_tipo{background:#eeeeee;padding:10px;border:solid 1px #d1d3d8;display:grid;grid-gap:20px;grid-template-columns:repeat(2,1fr);}
.modal_ingreso_tipo div{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow:10px 5px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color:whitesmoke;
    padding: 10px 20px;
    cursor: pointer;
}
.modal_ingreso_tipo div svg{width:15px;height:15px;margin-right:3px;cursor:pointer;}
.modal_ingreso_tipo div label{cursor:pointer;}
.modal_ingreo_datos {display:grid;grid-gap:10px;}
.modal_ingreo_datos div{
    border:solid 1px #d1d3d8;border-radius:5px;padding:5px;
    display:flex;flex-direction:row;justify-content:space-between;
    background: white;
}
.modal_ingreo_datos div svg{width:20px;height:20px;margin-right:3px;}
.modal_ingreo_datos div input{width:100%;border-style:none;height:100%;background:white;font-size:15px;}
.modal_ingreso_opciones {display:grid;grid-gap:20px;}
.modal_ingreso_opciones div a {color: #2ECC71;}
.modal_ingreso_opciones div button {
    width:90%;height:35px;
    border-radius:3px;
    background-color:#e51b1b;
    border: 1px solid #d1d3d8;
    color:whitesmoke;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 14px;
}
.modal_ingreso_internet {display:grid;grid-gap:15px;}
.ingreso_internet_boton{display:flex;flex-direction:row;background:red;align-items:center;cursor:pointer;font-size:16px;}
.ingreso_internet_boton div{width:20%;height:35px;border-right:1px solid #fff;}
.ingreso_internet_boton label{padding-left:15px;width:100%;color:whitesmoke;letter-spacing:1px;}


.PedidoCuadro{width:500px;height:500px;position:absolute;top:60px;z-index:100;display:flex;align-items: center;justify-content: center;justify-items: center;}
.pedido_modal{
    box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.8);
    position:sticky;display:flex; flex-direction:column;
    justify-content:space-around; align-items:center;
    background:rgba(0,0,0,0.7);border-radius:10px; 
    width:100%; height:100%;color:whitesmoke;}
.pedido_modal_titulo{padding:10px;font-weight:bold;letter-spacing:2px;font-size:20px;}
.pedido_lista{height:95%;width:95%;
    display:flex;flex-direction:column;}
.pedido_lista_item{margin-top:10px;border-radius:20px;}
.pedido_lista_item_datos{
    display: grid;
    grid-template-columns: 90% 10%;
    background:rgba(0,0,0,0.5);
    border-radius:20px;height:100%;}
.pedido_lista_item_datos div{display:grid;gap:1px;padding:7px;font-size:17px;letter-spacing:1px;}
.pedido_lista_item_datos button{border-top-right-radius:20px;border-bottom-right-radius:20px; 
    border-style:none;background:#2ECC71;}

.pedido_modal_boton {padding:15px;}
.pedido_modal_boton button{border-radius:20px;border-style:none;width:110px;height:50px;
    background:#2ECC71;color:#ebedf3;font-size:20px;}


.Aplicacion{height:100%;}


.Menu{width:100%;height:50px;position:sticky;top:0;z-index:100;display:flex;justify-content:center;}
.menu_items{box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.5);display:flex;flex-direction:row;justify-content:space-around;align-items:center;width:60%;font-weight:bold;font-family:sans-serif;font-size:16px;background:rgba(0,0,0,0.1);border-radius: 10px 80px;}
.menu_items div{padding:4px 15px;color: whitesmoke;}
.menu_items div:hover{transition: all 0.3s ease-in-out;color:#e51b1b;cursor:pointer;}
.menu_item_logo{background:transparent;}
.menu_item_logo img{border-radius:100%;width:80px;cursor:pointer;box-shadow:5px 3px 10px 0 rgba(0, 0, 0, 0.5);}
.menu_item_principal{background-color:#e51b1b ;border:1.2px solid #e51b1b;border-radius:4px;box-shadow: 5px 3px 10px 0 rgba(0,0,0,0.5);}
.menu_item_principal:hover{background: transparent;}

.Principal{height:100%;display:grid;grid-template-columns:repeat(1,1fr);background:url('/img/fondos/fondo.jpg') no-repeat center/cover;margin-top:-50px;}
.principal_buscador{display:grid;grid-template-columns:repeat(1,1fr);grid-gap:10px;margin-top:10%;}
.principal_buscador_mensaje{text-align:center;color:whitesmoke;}

.principal_buscador_cuadro{display:flex;flex-direction:row;justify-content:space-between;}
.principal_buscador_cuadro{border:6px solid #596275;border-radius:50px;width:90%;background:white;color:#cecece;}
.principal_buscador_cuadro input{border-style:none;width:100%;margin-left:10px;color:#b3b1b1;font-size:17px;}
.principal_buscador_cuadro button{border-radius:50px;border-style:none;background:#e51b1b;color:whitesmoke;padding:5px 20px;margin-right:0px;font-size:16px;}

.principal_categorias{display:flex;flex-direction:row;justify-content:space-around;width:70%;margin-top:10%;margin-bottom: 10%;}
.principal_categorias div{display:grid;color:whitesmoke;grid-gap:5px;}


.ProductoLista,.ProductoBuscador{background:url('/img/fondos/fondo.jpg')no-repeat center/cover;margin-top:-50px;min-height:80vh;}

.producto_lista{display:grid;grid-template-columns:repeat(2,1fr);grid-gap:20px;padding-top:70px;width:70%;padding-bottom:5vh;}
.producto_lista_tipo{height:25vh;border-radius:8px;cursor:pointer;background:rgba(0,0,0,0.1);}
.producto_lista_tipo_boton{border-radius:20px;cursor:pointer;position:relative;height:25vh;}
.producto_lista_tipo_boton img{z-index:-100;width:100%;height:100%;border-radius:20px;}
.producto_lista_tipo_boton div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    position:absolute;
    font-size:5vh;
    font-weight:bold;
    top:50%;left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    color: whitesmoke;
    background:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    );
    border-radius: 20px;}

.producto_buscador{display:grid;grid-template-columns:1fr;grid-gap:20px;padding-top:70px;width:40%;padding-bottom:5vh;}
.producto_buscador_encabezado{display:grid;grid-template-columns:10% 80% 10%;grid-gap:10px;}
.producto_buscador_paginacion{display:flex;justify-content:center;}

.producto_buscador_lista{display:grid;grid-template-columns:repeat(1,1fr);grid-gap:10px;width:100%;}
.producto_buscador_lista_item {border-radius:20px;cursor:pointer;height:12vh;width:100%;}
.producto_buscador_lista_item_datos{
    display: grid;
    grid-template-columns: 90% 10%;
    color: whitesmoke;
    background:rgba(0,0,0,0.5);
    border-radius:20px;height:100%;}
.producto_buscador_lista_item_datos div{display:grid;gap:2px;padding:10px;font-size:18px;letter-spacing:1px;}
.producto_buscador_lista_item_datos button{
    border-top-right-radius:20px;border-bottom-right-radius:20px; 
    border-style:none;background:#2ECC71;}


.usuario_componentes{display:grid;grid-template-columns: 180px 1fr;grid-gap:20px;width:60%;min-height:500px;margin-top:60px;padding-bottom:50px;}
.usuario_navegador { background:white;display:grid;grid-template-columns: repeat(1,1fr);height:200px;box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.5);}
.usuario_navegador_boton{display:flex;flex-direction:row;align-items:center;font-size:16px;}
.usuario_navegador_boton.activo label{color:#e51b1b;}.usuario_navegador_boton.activo div svg{fill:#e51b1b;}
.usuario_navegador_boton div{width:20%;height:35px;border-right:1px solid #d1d3d8;cursor:pointer;}
.usuario_navegador_boton label{padding-left:15px;width:80%;color:#2f313a;letter-spacing:1px;font-size:18px;cursor:pointer;}
.usuario_navegador_boton:hover label{ transition: 0.40s all ease-in-out;color:#e51b1b;}
.usuario_navegador_boton:hover div svg{ transition: 0.40s all ease-in-out;fill:#e51b1b;}
.usuario_paginas {background: white; box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.5);padding: 10px;}
.usuario_encabezado{display:grid;grid-template-columns:repeat(2,1fr);letter-spacing:2px;font-size:19px;}
.usuario_encabezado_opciones {display:flex;justify-content:flex-end;}
.usuario_encabezado_opciones select {font-size:19px;border: 1px solid #8b8b8b;color:#8b8b8b;}
.usuario_encabezado_opciones label {margin-left: 20px;border:1px solid #8b8b8b;color:#8b8b8b;cursor:pointer;padding:3px;font-family:sans-serif;}
.usuario_encabezado_opciones label:after {content:'\25BC';width:10px;}
.usuario_tabla {padding:0px 10px;display:flex;flex-direction:column;}.usuario_tabla_paginado {background-color: red;padding:2px;margin:5px;}
.usuario_datos {display:grid;grid-gap:20px;width:70%;}
.usuario_datos img{width:150px;height:150px;border-radius:50%;}
.usuario_datos_informacion{display:grid;grid-template-columns: repeat(2,1fr);grid-gap: 20px;}

.Negocio{background: #ebedf3;margin-top:-50px;height:100%;}
.NegocioVentas,.NegocioProductos,.NegocioPerfil{display:grid;grid-gap:20px;}
.negocio_agregar_producto {display:grid;grid-gap:20px;}
.negocio_agregar_producto_costo {display:grid;grid-template-columns:300px 150px;grid-gap:20px;}
.negocio_agregar_producto_imagen {display:grid;grid-gap:10px;cursor:pointer;}
.negocio_agregar_producto_imagen img{width:300px;}
.negocio_agregar_producto_imagen input[type="file"]{display:none;}
.negocio_agregar_producto_imagen label{display:flex;justify-content:space-around;align-items:center;width:60%;}
.negocio_agregar_producto_imagen_boton {
    display:flex;justify-content:center;align-items:center;
    color:whitesmoke;background:#e51b1b;
    width:250px;height:50px;margin:auto;
    font-size:20px;}



.Cliente{background: #ebedf3;margin-top:-50px;height:100%;}
.ClienteCompras,.ClienteDirecciones,.ClientePedido{display:grid;grid-gap:20px;}
.cliente_agregar_direccion{display:grid;grid-gap:20px;}
.cliente_agregar_direccion_ubicacion{display:grid;grid-template-columns:repeat(2,1fr);grid-gap:20px;}






.boton_imagen {
    border-radius:20px;
    cursor:pointer;
    position:relative;
    height:25vh;width:70%;
}
.boton_imagen img{z-index:-100;width:100%;height:100%;border-radius:20px;}
.boton_imagen div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    position:absolute;
    font-size:5vh;
    font-weight:bold;
    top:50%;left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    color: whitesmoke;
    background:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    );
    border-radius: 20px;
}

.opcion_menu a{display:flex;justify-content:center;align-items:center;padding:15px;border-bottom:1px solid #ced4da}
.opcion_menu a img{width:45px;}


.tipo_pago{display:grid;grid-gap:20px;}

.usuario_direccion{display:grid;grid-template-columns:90%10%;}
.eliminar_direccion{display:flex;justify-content:center;align-items: center;}

.Pedido{display:grid;grid-gap:20px;margin:10px;}
.pedido_encabezado{display:grid;grid-template-columns:20% 80%;grid-gap:10px;margin:10px;}
.pedido_siguiente{display:flex;justify-content:center;align-items:center;}
.pedido_siguiente button{width:150px;height:60px;font-size:25px;}
.pedido_datos{display:grid;}
.pedido_pago{display:grid;grid-gap:20px;}

.Error404{background-color:transparent;}
.Registro{display:grid;grid-gap:20px;margin:10px;}

.ocultar {display:none;}


.registro_imagen{display:grid;}
.registro_datos{display:grid;grid-template-columns:1fr;grid-gap:10px;width:250px;}
.registro_confirmacion{display:grid;grid-template-columns:1fr;grid-gap:10px;width:350px;}
.registro_siguiente{display:flex;justify-content:center;align-items:center;}
.registro_siguiente button{width:150px;height:50px;font-size:20px;}



.Ingreso{display:grid;grid-gap:20px;}
.ingreso_encabezado{display:grid;grid-template-columns:10% 90%;grid-gap:10px;margin:10px;}
.ingreso_datos{display:grid;grid-gap:10px;}
.ingreso_siguiente{width:150px;height:50px;font-size:20px;}


.item_producto{display:grid;grid-template-columns:50px 300px 30px;grid-gap:10px;}
.item_producto_imagen img{width:80px;}
.productos_disponibles{display:grid;grid-template-columns:repeat(1,1fr);grid-gap:10px;}


.Entrega{display:grid;grid-gap:20px;margin:10px;}
.entrega_encabezado{display:grid;grid-template-columns:10% 90%;grid-gap:10px;margin:10px;}
.entrega_cuerpo{display:grid;grid-gap:20px;margin:20px;}
.entrega_siguiente{width:170px;height:50px;font-size:20px;}



@media (max-width: 400px){
    .menu_item_ocultar{display: none;}
    .menu_item_mercados{border:1.2px solid #e51b1b;color:#e51b1b !important;border-radius:8px;box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.5);}
    
    .principal_categorias{display:grid;grid-template-columns:repeat(4,1fr);grid-gap:20px;margin-top:10%;}

    .pedido_modal {left:1%;width:350px;}
    .barra_lateral {display:none;}
    .paginas_aplicacion{margin-left:0%;width:100%;height:100%;}
}
