@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html{scroll-behavior:smooth;font-family:'Fira Sans'!important;}html,body{margin:0px;height:100%;background: #EAECEE;}a{text-decoration:none;}li{list-style:none;}
table{border-collapse:collapse;}th{padding:8px;background:#fafafa;color:#8b8b8b;letter-spacing:2px;}td{padding:5px;}
tr{border-bottom:1px solid lightgray;padding-top:4px;height:6vh;}
tr:hover td{background:#e51b1b;color:#ffffff;}tr.interlinea{background-color:#fafafa;}

fieldset{border-radius:5px;}fieldset legend{color:#e51b1b;font-weight:bold;font-size:18px;letter-spacing:2px;}
fieldset input{border:none;font-size:15px;width:100%;padding:1px;}fieldset textarea{border:none;font-size:15px;width:100%;height:50px;}
fieldset div{display:flex;align-items:center;}
input:focus{outline:none;}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none;margin:0;}
input[type=number]{-moz-appearance:textfield;}

.texto_temaRojo{background:-webkit-linear-gradient(#EE7752,#E51b1b);background-clip:text;-webkit-text-fill-color:transparent;}
.texto_temaOscuro{background:-webkit-linear-gradient(#415161,#17202A,#415161);background-clip:text;-webkit-text-fill-color:transparent;}
.linea_vertical{border-left:2px solid #8b8b8b;height:50px;margin-right:10px;}
.boton_activo{background:linear-gradient(-45deg,#E51b1b,#EE7752,#E51b1b)}
.boton_inactivo{background: #8b8b8b;}

.Aplicacion{height:100%;}.Error404{background-color:transparent;}

.centrado{display:flex;justify-items:center;align-items:center;justify-content:center;}.ocultar {display:none;}
.cuadro_mensaje{position:fixed;z-index:1000;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(0,0,0,0.1);}
.error{font-size:3vh;color:#ee6e6e;background-color:#f3cdcd;margin:15% auto;padding:15px;border:2px solid #ee6e6e;border-radius:8px;width:max-content;}

.modal{position:fixed;z-index:100;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(0,0,0,0.5);}
.modal_ventana{background:whitesmoke;margin:70px auto;padding:15px;border-radius:4px;width:max-content;box-shadow:10px 5px 10px 0 rgba(0, 0, 0, 0.5);}
.modal_encabezado{font-size:20px;display:grid;grid-template-columns:90%10%;}
.boton_cerrar{cursor:pointer;border:solid 2px #e51b1b;color:#e51b1b;border-radius:8px;text-align:center;width:20px;height:20px;justify-self:end;font-weight:bold;margin-left:10px;}
.boton_cerrar:hover,.boton_cerrar:focus{color:red;border-color:red;}

.ModalIngreso{position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.5);}
.modal_ingreso{background:whitesmoke;margin:70px auto;padding:15px;border-radius:4px;width:max-content;box-shadow:10px 5px 10px 0 rgba(0, 0, 0, 0.5);}
.modal_ingreso,.modal_ingreso_tipo {display:grid;grid-gap:18px;}

.modal_ingreso_tipo span{color:#e51b1b;font:400 18px 'Fira Sans';}
.modal_ingreso_tipo_opciones{background:#eeeeee;padding:10px;border:solid 1px #d1d3d8;display:grid;grid-gap:20px;grid-template-columns:repeat(2,1fr);}
.modal_ingreso_tipo_opciones div{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow:10px 5px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color:whitesmoke;
    padding: 10px 20px;
    cursor: pointer;}
.modal_ingreso_tipo_opciones div svg{width:15px;height:15px;margin-right:3px;cursor:pointer;}

.modal_ingreso_datos {display:grid;grid-gap:10px;}
.modal_ingreso_datos a {color: #ff4b2b;}
.modal_ingreso_datos label{color:#3d4d67;font:400 Normal 14px/15px "Poppins",sans-serif;}
.modal_ingreso_cuadro{background: white;
    border:solid 1px #d1d3d8;border-radius:5px;padding:5px;
    display:flex;flex-direction:row;justify-content:space-between;}
.modal_ingreso_cuadro svg{width:20px;height:20px;margin-right:3px;}
.modal_ingreso_cuadro input{width:100%;border-style:none;height:100%;background:white;font-size:15px;}

/* REGISTRO */
.registroDatos{display:grid;grid-template-columns:1fr;grid-gap:10px;}
.inNombresRegistro,.inApPatRegistro,.inApMatRegistro,.inDNIRegistro,.inTelefonoRegistro,.inNombreUsuarioConf,.inContraseñaConf,.inConfContraseñaConf{height:20px;font-size:16px;border-radius:20px;background:rgb(235, 237, 243);border:none;}

.registroDatos div{display:grid;grid-template-columns:35px 1fr}
.registroDatos div svg{width:20px;height:20px;}
.registroDatos input{padding:5px;padding-left:15px;margin-left:5px;margin-right:5px;}

.registroDatos span{color:#3d4d67;font:400 Normal 14px/15px "Poppins",sans-serif;}
.registroDatos a{color:#1555bd;font: 400 Normal 14px/15px "Poppins",sans-serif;}
.registroDatos hr{margin: 0;border: 0;height: 0;clear: both;border-bottom: solid 1px rgba(0,0,0,.1);}

.ApPatRegistro,.ApMatRegistro,.dniRegistro,.telefonoRegistro{display: inline-block;}
.registroConfirmacion{display:grid;grid-template-columns:1fr;grid-gap:10px;width:350px;margin-top: 20px;}


.modal_ingreso_opciones {display:grid;grid-gap:10px;}
.modal_ingreso_opciones_ingresar,.modal_ingreso_opciones_salir{    
    color:whitesmoke;background:linear-gradient(to right, #ff4b2b, #ff416c);
    letter-spacing:3px;font-weight:bold;font-size:14px;
    border-radius:10px;border:1px solid #d1d3d8;}
.modal_ingreso_opciones_ingresar{width:90%;height:35px;}
.modal_ingreso_opciones_salir{width:30%;height:30px;}
.modal_ingreso_internet {display:flex;justify-content:space-evenly;}
.ingreso_internet_boton{align-items:center;cursor:pointer;font-size:16px;padding:10px;border-radius:50%;}
.modal_ingreso_tipo_cuadro{
    width:240px; margin:10px auto; position: relative;
    box-shadow:0 0 3px 1px #ff4b2b; border-radius: 30px;}
.toggle-btn,.toggle-btn-activo{
    font:600 15px 'Fira Sans';
    padding:10px 30px;color:#ff4b2b;
    cursor:pointer;background:transparent;
    border:0;outline:none;position:relative;}
.toggle-btn-activo{color:#fff;}
#btn{
    top:0;left:0;position: absolute;
    width:120px;height:100%;
    background:linear-gradient(to right, #ff4b2b, #ff416c);
    border-radius: 50px;transition:.5s;}


/*
.boton_habilitado{position:relative;display:flex;height:40px;width:100%;}.boton_habilitado input{display:none;} 
.boton_deslizar{background-color:#ccc;bottom:0;cursor:pointer;left:0;position:absolute;right:0;top:0;transition:.4s;}
.boton_deslizar:before{position:absolute;content:"";bottom:2px;left:1px;background-color:#fff;transition:.4s;width:20px;height:20px;}
.boton_deslizar.redondo{border-radius:34px;}.boton_deslizar.redondo:before{border-radius:50%;}
input:checked+.boton_deslizar{background-color:#66bb6a;}input:checked+.boton_deslizar:before{transform:translateX(26px);}


.modal_ingreso_internet {display:grid;grid-gap:15px;}
.ingreso_internet_boton{display:flex;flex-direction:row;background:#e51b1b;align-items:center;cursor:pointer;font-size:16px;}
.ingreso_internet_boton div{width:20%;height:35px;border-right:1px solid #fff;}
.ingreso_internet_boton label{padding-left:15px;width:100%;color:whitesmoke;letter-spacing:1px;}
*/

.ModalCantidad{display:grid;grid-gap:10px;text-align: center;}
.ModalCantidad img{max-width:320px;max-height:320px;}
.modal_cantidad_agregar input{max-width:60px;text-align:center;font:300 18px 'Fira Sans';}
.modal_cantidad_agregar button{width:30px;height:30px;margin:10px;border-style:none;border-radius:100%;
    border:solid 2px #2ECC71;font:bold 18px 'Fira Sans';color:#2ECC71;background:transparent;}
.modal_cantidad_guardar button{min-width:200px;height:40px;
border-style:none;border-radius:50px;background:#e51b1b;
color:white;letter-spacing:2px;font:bold 18px 'fontfamili';}

.Pedido{display:grid;grid-gap:20px;margin:10px;}
.pedido_encabezado{display:grid;grid-template-columns:20% 80%;grid-gap:10px;margin:10px;}
.ModalPedido{width:100%;position:absolute;top:60px;z-index:100;display:flex;justify-content:center;justify-items:center;}
.modal_pedido{width:500px;}
.pedido_modal{
    box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.8);
    position:sticky;display:flex;flex-direction:column;
    justify-content:space-around;align-items:center;
    border-radius:10px;width:100%;
    background:whitesmoke;}
.pedido_modal_titulo{padding:10px;font-weight:bold;letter-spacing:2px;font-size:20px;color:#e51b1b;}
.pedido_total{text-align:center;font:500 20px 'Fira Sans';letter-spacing: 1px;}
.pedido_lista{min-height:250px;max-height:400px;width:100%;overflow:auto;
    display:flex;flex-direction:column;}
.pedido_lista_item{margin-top:10px;border-radius:20px;}
.pedido_lista_item span{font-size:19px;color:white}
.pedido_lista_item_datos{
    display: grid;color:whitesmoke;
    grid-template-columns: 85% 15%;
    background:rgba(0,0,0,0.5);
    border-radius:20px;height:100%;}
.pedido_lista_item_datos div{display:grid;gap:1px;padding:7px;font-size:17px;letter-spacing:1px;}
.pedido_lista_item_datos button{border-top-right-radius:20px;border-bottom-right-radius:20px; 
    border-style:none;background:#e51b1b;padding:0px;}
.pedido_modal_boton {background:#e51b1b;border-radius:20px;margin:10px;max-width:150px;}
.pedido_modal_boton button{cursor:pointer;padding:15px;border-style:none;background:transparent;
    color:#ebedf3;font-size:20px;font-weight:bold;letter-spacing:2px;}
.pedido_vacio{width:100%;min-height:250px;text-align:center;display:flex;justify-content:center;align-items:center;}
.pedido_vacio_mensaje{display:grid;grid-gap:10px;}
.pedido_vacio_mensaje div{display:flex;justify-content:center;align-items:center;}
.pedido_vacio_mensaje span{color:#2ECC71;font-size:18px;}
.pedido_vacio_mensaje label{color:#596275;font-size:18px;}
.pedido_vacio_mensaje_boton{cursor:pointer;margin:10px;padding:15px;border-style:none;background:#e51b1b;
    color:#ebedf3;font-size:20px;font-weight:bold;letter-spacing:2px;border-radius:20px;}

.Menu{width:100%;height:50px;position:sticky;top:0;z-index:100;display:flex;justify-content:center;}
.menu_items{box-shadow:1px 1px 6px 0 rgba(0,0,0,0.5);width:60%;
    font-weight:bold;font-family:sans-serif;font-size:16px;
    background:rgba(0,0,0,0.1);border-radius: 10px 80px;
    display:flex;flex-direction:row;justify-content:space-around;align-items:center;}
.menu_items div{padding:4px 15px;color:whitesmoke;}
.menu_items a{font-weight:bold;color:whitesmoke;font-size:16px;}
.menu_items div:hover{transition: all 0.3s ease-in-out;color:#e51b1b;cursor:pointer;}
.menu_item_aplicacion{z-index:900;border:1.2px solid #e51b1b;color:#e51b1b !important;border-radius:8px;box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.5);}
.menu_item_logo{background:transparent;}
.menu_item_logo img{border-radius:100%;width:80px;cursor:pointer;box-shadow:5px 3px 10px 0 rgba(0, 0, 0, 0.5);}
.menu_item_usuario{background-color:#e51b1b ;border:1.2px solid #e51b1b;border-radius:4px;box-shadow: 5px 3px 10px 0 rgba(0,0,0,0.5);z-index:900;}
.menu_item_usuario:hover{background: transparent;}
.MenuAplicacion{width:100%;min-height:100vh;position:absolute;z-index:100;display:flex;justify-content:center;background:rgba(0,0,0,0.5);}
.menu_aplicacion{width:60%;height:200px;display:flex;justify-content:flex-start;margin-top:45px;}
.menu_aplicacion_opciones{box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.8);width:150px;}

.MenuUsuario{width:100%;min-height:100vh;position:absolute;top:0;z-index:100;display:flex;justify-content:center;background:rgba(0,0,0,0.5)}
.menu_usuario{width:60%;height:100%;display:flex;justify-content:flex-end;margin-top:20px;}
.menu_usuario_opciones{width:130px;}
.menu_usuario_navegador {background:white;box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.4);}
.menu_usuario_navegador_boton{display:flex;flex-direction:row;align-items:center;font-size:16px;padding:5px;color:#2f313a;}
.menu_usuario_navegador_boton.activo label{color:#e51b1b;}.menu_usuario_navegador_boton.activo div svg{fill:#e51b1b;}
.menu_usuario_navegador_boton div{width:20%;border-right:1px solid #d1d3d8;cursor:pointer;padding:2px;}
.menu_usuario_navegador_boton label{padding-left:15px;width:80%;color:#2f313a;letter-spacing:1px;font-size:18px;cursor:pointer;}
.menu_usuario_navegador_boton:hover label{ transition: 0.40s all ease-in-out;color:#e51b1b;}
.menu_usuario_navegador_boton:hover div svg{ transition: 0.40s all ease-in-out;fill:#e51b1b;}

.Principal{height:100vh;display:flex;flex-direction:column;
background:rgba(0, 0, 0, 0);margin-top:-50px;}
.principal_titulo{width:90%;height:70px;display:flex;justify-content:center;align-items:center;position:absolute;top:150px;
background:rgba(0,0,0,0.4);color:white;font:bold 30px 'Fira Sans';letter-spacing:4px;}
.principal_aplicaciones{display:grid;grid-template-columns:repeat(3,1fr);grid-gap:15px;}
.principal_aplicaciones div{display:grid;grid-template-columns:30px 1fr;grid-gap:10px;}
.principal_aplicaciones div{padding:25px 30px;background:rgba(0,0,0,0.4);color:white;font:500 24px 'Fira Sans';}
.principal_aplicaciones div:hover{cursor:pointer;background:rgba(160,0,0,0.4);}
.principal_titulo:hover {cursor:pointer;color:#e51b1b;font-size:31px;}
.PrincipalBuscador{height:100vh;display:grid;grid-template-columns:repeat(1,1fr);grid-gap:10px;
background:rgba(0, 0, 0, 0);margin-top:-50px;}
.principal_buscador{display:grid;grid-template-columns:repeat(1,1fr);grid-gap:10px;margin-top:10%;width:100%;}
.principal_buscador_mensaje{width:60%;display:grid;grid-template-columns:1fr;grid-gap:30px;
    font:bold 40px 'Fira Sans';text-align:center;color:whitesmoke;letter-spacing: 2px;}
.pricipal_buscador_ciudad{padding:10px 20px;width:auto;background:rgba(0, 0, 0, 0.5);color:white;font:bold 25px 'Fira Sans';text-align-last:center;}
.pricipal_buscador_ciudad:hover{background:rgba(160, 0, 0, 0.5);}
.principal_buscador_cuadro{display:flex;flex-direction:row;justify-content:space-between;}
.principal_buscador_cuadro{border:6px solid #596275;border-radius:50px;width:100%;background:white;color:#cecece;}
.principal_buscador_cuadro input{border-style:none;width:100%;margin-left:10px;color:#b3b1b1;font-size:17px;}
.principal_buscador_cuadro button{border-radius:50px;border-style:none;background:#e51b1b;color:whitesmoke;padding:5px 20px;margin-right:0px;font-size:16px;}
.PrincipalCategoria{margin-top:60px;display:grid;grid-template-columns:repeat(1,1fr);grid-gap:10px;
background:rgba(0, 0, 0, 0);min-height:300px;}
.principal_categoria{width:100%;display:flex;flex-direction:column;align-items:center;}
.principal_categoria label, span{font:bold 40px 'Fira Sans';color:#415161;letter-spacing:1px;}
.principal_categoria_opciones{margin:4vh;display:flex;flex-wrap:wrap;}
.principal_categoria_item{display:grid;grid-template-columns:1fr;grid-gap:15px;text-align:center;
    border-radius:15px;border:0px solid #bdbdbd;padding:5px;margin:5px;width:180px;flex:1 0 21%;}
.principal_categoria_item_imagen{width:80px;height:80px;background:whitesmoke;border-radius:50%;box-shadow:1px 1px 6px 0 rgba(0,0,0,0.4);}
.principal_categoria_item_imagen img{width:70px;height:70px;margin:10px;border-radius:50%;}
.principal_categoria_item_dato{display:grid;grid-template-columns:1fr;grid-gap:1px;}
.principal_categoria_item_dato span{font-size:20px;}
.principal_categoria_item_dato label{font-size:12px;font-style:oblique;}


.ProductoLista,.ProductoBuscador{background:rgba(0, 0, 0, 0);}
.ProductoLista,.ProductoBuscador{margin-top:-10px;min-height:80vh;}
.producto_buscador{display:grid;grid-template-columns:1fr;grid-gap:20px;padding:70px 0px;}
.producto_lista{display:grid;grid-template-columns:repeat(2,1fr);grid-gap:20px;padding-top:70px;width:70%;padding-bottom:5vh;}
.producto_lista_tipo{height:25vh;border-radius:8px;cursor:pointer;background:rgba(0,0,0,0.1);}
.producto_lista_tipo_boton{border-radius:20px;cursor:pointer;position:relative;height:25vh;}
.producto_lista_tipo_boton img{z-index:-100;width:100%;height:100%;border-radius:20px;}
.producto_lista_tipo_boton div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    position:absolute;
    font-size:5vh;
    font-weight:bold;
    top:50%;left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    color: whitesmoke;
    background:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5));
    border-radius: 20px;}

.usuario_componentes{display:grid;grid-template-columns:180px 1fr;grid-gap:20px;width:60%;min-height:300px;margin-top:60px;padding-bottom:50px;}
.usuario_componentes_menu{width:10%;height:100%;display:flex;justify-content:flex-end;margin-top:240px}
.usuario_paginas {background: white; box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.5);padding: 10px;}
.usuario_encabezado{display:flex;flex-direction:row;justify-content:space-between;align-items:center;margin-top:10px;}
.usuario_encabezado_menu svg{width:25px;height:25px;cursor:pointer;display:none;}
.usuario_encabezado label{text-align:center;font:bold 4vh 'Fira Sans';letter-spacing:2px;color:#e51b1b}

.usuario_tabla {padding:0px 10px;display:flex;flex-direction:column;}.usuario_tabla table{width:80%;}
.usuario_tabla_paginado {padding:2px;margin:5px;}
.usuario_datos {display:grid;grid-gap:20px;}
.usuario_datos_informacion{display:grid;grid-template-columns:1fr;grid-gap:20px;}
.usuario_datos_informacion_cliente {display:grid;grid-template-columns:repeat(3,1fr);grid-gap:5px;}
.usuario_datos_informacion_tienda {display:grid;grid-template-columns:repeat(2,1fr);grid-gap:5px;}

.Tienda{background: #ebedf3;height:100%;}
.TiendaPedidos,.TiendaVentas,.TiendaProductos,.TiendaPerfil{display:grid;grid-gap:20px;}
.tienda_pedido_link{color:#2ECC71;cursor:pointer;font:500 20px 'Fira Sans';}
.tienda_agregar_producto {display:grid;grid-gap:20px;}
.tienda_agregar_producto_costo {display:grid;grid-template-columns:300px 150px;grid-gap:20px;}
.tienda_agregar_producto_imagen {display:grid;grid-gap:10px;cursor:pointer;}
.tienda_agregar_producto_imagen img{max-width:300px;max-height:400px;}
.tienda_agregar_producto_imagen input[type="file"]{display:none;}
.tienda_agregar_producto_imagen label{display:flex;justify-content:space-around;align-items:center;width:60%;}
.tienda_agregar_producto_imagen_boton {
    display:flex;justify-content:center;align-items:center;
    color:whitesmoke;background:#e51b1b;
    width:250px;height:50px;margin:auto;
    font-size:20px;}
.tienda_pedido_mapa{width:750px; height:450px}
.tienda_pedido_detalle{text-align: center;}
.tienda_pedido_detalle,.tienda_pedido_detalle_tabla {display:grid;grid-gap: 10px;}

.Cliente{background: #ebedf3;height:100%;}
.ClienteCompras,.ClienteDirecciones,.ClientePedido{display:grid;grid-gap:10px;}
.cliente_pedido_datos{display:grid;grid-template-columns:repeat(2,1fr);grid-gap:10px;}
.cliente_agregar_direccion{display:grid;grid-gap:20px;}
.cliente_agregar_direccion_ubicacion{width:450px;height:450px;margin:-8px;}
.cliente_agregar_boton {background:#e51b1b;border-radius:20px;margin:10px;max-width:300px;}
.cliente_agregar_boton button{cursor:pointer;padding:10px;border-style:none;background:transparent;
    color:#ebedf3;font-size:16px;font-weight:bold;}
.cliente_pedido{display:flex;flex-direction:column;align-items:center;border-radius:10px;min-height:250px}
.ConfirmarPedidoCliente{display:grid;grid-gap:10px;}
.confirmar_pedido{display:grid;grid-gap:20px;}
.confirmar_pedido_direccion div{display:grid;grid-template-columns:80% 20%;}
.confirmar_pedido_datos div{display:grid;grid-gap:10px;width:320px;}
.confirmar_pedido_datos div div{display:grid;grid-template-columns:repeat(2,1fr);}
.confirmar_pedido_boton {background:#e51b1b;border-radius:20px;}
.confirmar_pedido_boton button{cursor:pointer;padding:15px;border-style:none;background:transparent;
    color:#ebedf3;font-size:20px;font-weight:bold;letter-spacing:2px;}
.modal_confirmar{display:grid;grid-gap:10px;font-size:20px;letter-spacing:2px;}
.modal_confirmar_boton {background:#e51b1b;border-radius:20px;margin:10px;max-width:300px;}
.modal_confirmar_boton button{cursor:pointer;padding:10px;border-style:none;background:transparent;
    color:#ebedf3;font-size:16px;font-weight:bold;}

.TiendaLista{background:rgba(0, 0, 0, 0);margin-top:-50px;min-height:80vh;}
.tienda_lista{display:grid;grid-template-columns:repeat(2,1fr);grid-gap:20px;padding-top:70px;width:70%;padding-bottom:5vh;}
.tienda_lista_tipo{height:25vh;border-radius:8px;cursor:pointer;background:rgba(0,0,0,0.1);}
.tienda_lista_tipo_boton{border-radius:20px;cursor:pointer;position:relative;height:25vh;}
.tienda_lista_tipo_boton img{z-index:-100;width:100%;height:100%;border-radius:20px;}
.tienda_lista_tipo_boton div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    position:absolute;
    font-size:3vh;
    font-weight:bold;
    top:50%;left:50%;
    transform: translate(-50%,-50%);
    width: 100%;height: 100%;
    color: whitesmoke;
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
    border-radius: 20px;}

.NegocioTiendas{background: transparent;text-align: center;}
.logo_tienda_{display:flex;justify-content:center;}
.logo_tienda_ img{width:120px;border:1px solid #b3b1b1;border-radius:100%;padding:3px;box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.8);}
.negocio_tienda{display:grid;grid-gap:20px;}
.negocio_tienda_fieldset{display:grid;grid-gap:5px;}
.negocio_tienda_datos{display:grid;grid-template-columns:repeat(2,1fr);grid-gap:5px;}
.negocio_tienda_ubicacion{width:auto;height:350px;}

.logo_tienda{border:1px solid #b3b1b1;box-shadow:1px 1px 6px 0 rgba(0,0,0,0.4);border-radius:100%;padding:20px;
    width:140px;height:140px;display:flex;justify-items:center;align-items: center;justify-content: center;}
.logo_tienda img{width:120px;height:120px;}
.logo_tienda_opciones{position:absolute;display:none;}
.logo_tienda_opciones label{cursor:pointer;}
.logo_tienda_opciones input[type="file"]{display:none;}
.logo_tienda:hover {box-shadow:1px 1px 6px 0 rgba(0,0,0,0.8);opacity:50%}
.logo_tienda:hover .logo_tienda_opciones{display:grid;grid-gap:10px;}

.negocio_tienda_imagen {display:grid;grid-gap:10px;cursor:pointer;}
.negocio_tienda_imagen img{max-width:300px;max-height:400px;}
.negocio_tienda_imagen input[type="file"]{display:none;}
.negocio_tienda_imagen label{display:flex;justify-content:space-around;align-items:center;width:60%;}
.negocio_tienda_imagen_boton {
    display:flex;justify-content:center;align-items:center;
    color:whitesmoke;background:#e51b1b;
    width:250px;height:50px;margin:auto;
    font-size:20px;}

.Socios{justify-content:center;align-content:center;padding-bottom:10px;}
.Socios h2{color:#3d4d67;font-size:28px;font-family:'Roboto',sans-serif;letter-spacing:1px;text-align:Center;}
.lista_socios{display:grid;grid-template-columns:repeat(3,1fr);text-align:center;gap:40px;}
.lista_socios_item{border:1px solid #e2e4e9;transition:all 1s ease;}
.lista_socios_item:hover{-webkit-transform: scale(1.01);-ms-transform: scale(1.01);transform: scale(1.01);box-shadow: 1px 1px 20px rgb(131, 128, 128);}
.socio_item_imagen{width:100%;height:18em;}
.socio_item_imagen figcaption{position:relative;bottom:50px;left:50%;margin-left:-50px;background:#fff;padding:10px;border-radius:50%;width:100px;height:100px;}
.socio_item_imagen figcaption img{width:100%;height:100%;vertical-align:middle;border-radius:50%;}

.Contacto{background-color:#ebedf3;display:grid;grid-template-columns:repeat(2,1fr);margin-top:100px;}
.preguntas_frecuentes,.contacto_informacion{border-radius: 15px;
    background-color: #fff;
    padding:2vh;}
.preguntas_frecuentes_lista{display:grid;grid-gap:10px;}
.preguntas_frecuentes_item button:hover {background-color:#ccc;}
.preguntas_frecuentes_item button{
    color: #444;
    background-color: #ebedf3;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: 0.4s;
    outline: none;
    text-align: left;
    border: none;
    padding-top: 8px;
    border-top:1px solid #e2e4e9;}
.preguntas_frecuentes_item div{
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;}
.preguntas_frecuentes_item button:after {
    content: '\002B';
    color: #444;
    font-weight: bold;
    float: right;}
.pregunta_activa:after {content:"\2212";}
.contacto_datos,.contacto_datos div{display:grid;grid-gap:10px;}
.contacto_datos_comunicacion{grid-template-columns:repeat(2,1fr);}
.contacto_formulario {display:grid;grid-template-columns:repeat(2,1fr);gap:1em;}
.contacto_formulario textarea{resize: none;}
.contacto_formulario div{display:grid;grid-gap:5px;}
.contacto_formulario_mensaje{grid-column: 1/2;}
.contacto_formulario button{        
    background:linear-gradient(-45deg,#E51b1b,#EE7752,#E51b1b);
    color: white;
    border:0;
    border-radius: 15px;
    display: block;
    margin: 15px auto; 
    padding: 15px 45px;
    width: 100%;
    font:600 18px 'Fira Sans';
    letter-spacing:2px;
    cursor: pointer;
    opacity: 1;
    visibility: visible;}
.contacto_formulario button:hover{transition: all .3s ease;
    background-color: rgba(0,0,0,0.8);}
.contacto_formulario input,.contacto_formulario textarea{
        display: block;
        width: 260px;
        height: 30px;
        padding-left: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        margin: 7px;
        font-size: 17px;
        border-radius: 20px;
        background: rgba(0,0,0,0.05);
        border: none;
        transition: background 0.5s;}
.PiePagina {display:grid;grid-gap:10px;padding:5px;grid-template-columns:repeat(4,1fr);background:#17202A;} /* AQUI */
.PiePagina span,a{color:white;font:400 Normal 18px/19px "Poppins",sans-serif;margin-top:4vh;}
.PiePagina label{font:600 Normal 18px/20px "Poppins",sans-serif;letter-spacing:1px;text-transform:uppercase;}

.AtencionCliente,.PoliticasCondiciones,.Nosotros,.Comunicate{display:flex;flex-direction:column;text-align:center;border-bottom:1px solid #f76e44;padding-bottom:10px;}
.comunitate_cuadro{display:grid;grid-template-columns:30px 1fr;}
.comunicate_cuadro_icono,.comunicate_cuadro_datos{display:flex;flex-direction:column;cursor:pointer;}
.comunicate_cuadro_icono div{height:35px;background:linear-gradient(-45deg,#E51b1b,#f76e44,#E51b1b);border-radius:50%;width:35px;height:35px;margin-top:3vh;}

.comunicate_redes{display:flex;justify-content:space-around;}
.comunicate_redes img{width:40px;height:40px;}

.paginacion{display:flex;justify-content:center;width:120px;}
.paginacion{border:3px solid #596275;border-radius:50px;background:white;color:#cecece;}
.paginacion input{border-style:none;width:100%;margin-left:10px;color:#596275;font:bold 17px 'Fira Sans';text-align: center;}
.paginacion div{padding:1px 1px;margin:1px;}
.paginacion div:hover svg{padding:2px 2px;transition: 0.40s all ease-in-out;fill:whitesmoke;background:#e51b1b;border-radius: 50px;}

/* RECORTAR IMAGEN PERFIL */
#canvas{border:2px solid #b3b1b1;margin-left:auto;margin-right:auto;display:block;border-radius:100%;background-color:#ebedf3;cursor:move;box-shadow:3px 3px 6px 0 rgba(0,0,0,.4);}
#archivo{visibility: hidden;}
#archivoFile{cursor: pointer;width:150px;margin-left: auto;padding: 2px; margin-right: auto;display: block;margin-top: 25px;font-family: 'Roboto', sans-serif;transition: all, 0.2s;border-style: solid;border-color: #e51b1b;border-radius: 30px;text-align: center;box-shadow: 4px 4px 10px 0 rgba(255, 0, 0, 0.4);font-weight: 700;font-size: 15px;}
#archivoFile:hover{transform: translateY(-3px)}
#mostrar{margin-left: auto;margin-right: auto;margin-top:25px;display: block;border-style: solid;border-color: #e51b1b;width: 127px;border-radius: 30px;padding: 10px;font-family: 'Roboto', sans-serif;cursor: pointer;transition: all, 0.2s;text-align: center;box-shadow: 4px 4px 10px 0 rgba(255, 0, 0, 0.4);font-weight: 700;font-size: 15px;}
#mostrar:hover{transform: translateY(-3px)}

.cuadro_texto{
    border:solid 1px #d1d3d8;border-radius:5px;padding:5px;
    display:flex;flex-direction:row;justify-content:space-between;
    background: white;}
.cuadro_texto svg{width:20px;height:20px;margin-right:3px;}
.cuadro_texto input{width:100%;height:100%;border-style:none;background:white;font-size:18px;}
.cuadro_texto select{width:100%;height:100%;font-size:18px;}

/*CartaProducto*/
.DiseñoProductos{justify-content:center;align-content:center;justify-items:center;padding-bottom:10px;}
.DiseñoProductos h2{color:#3d4d67;font-size:28px;font-family:'Roboto',sans-serif;letter-spacing:1px;text-align:Center;}
.DiseñoProductos .centrar_lista{display:flex;justify-items:center;align-items:center;justify-content:center;}
.lista_DiseñoProductos{display:grid;grid-template-columns:repeat(4,255px);text-align:center;gap:20px;cursor: pointer;}
.lista_DiseñoProductos_item{border:1px solid #e2e4e9;margin: 0 auto;}
.lista_DiseñoProductos_item:hover{background: #ebedf3;}
.DiseñoProductos_item_imagen{width:100%;height:12em;}
.DiseñoProductos_item_imagen img{max-width:255px;height:193px;}

.no-seleccionable {-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}

.Dprod_nombreProducto{color: #3d4d67;font: 700 Normal 18px/10px "Poppins",sans-serif;margin-top:20px; margin-bottom:12px;}
.Dprod_descripcionProducto{color: #3d4d67;font: 500 Normal 15px/16px "Poppins",sans-serif;margin-top:20px; margin-bottom:12px;text-align:center;}
.Dprod_Negocio{color:rgb(255, 71, 71);font-size:16px;font-family:'Roboto',sans-serif;letter-spacing:1px;text-align:Center;margin-top:10px; margin-bottom:10px;}
.Dprod_precio{color:#3d4d67;font-size:22px;font-family:'Roboto',sans-serif;letter-spacing:1px;text-align:Center;margin-top:10px; margin-bottom:10px;}
.Dprod_descuento{background: rgb(255, 71, 71); color:#fff;height: 30px; font-size:18px;font-family:'Roboto',sans-serif;letter-spacing:1px;text-align:Center;}

/* MENU 2 */
.Menu2{height:120px;display:flex;flex-direction:column;}

/* para el logo y opciones de usurio*/
.Menu2_superior{background:#17202A;display:flex;justify-content: space-around;}
.Menu2_superior_logo{margin:10px;background: url('/img/aplicacion/logo.png')no-repeat center/cover;width:220px;height:40px;cursor:pointer;}
.Menu2_superior_usuario{margin:10px;display:grid;grid-template-columns:repeat(3,1fr);grid-gap:10px;align-items:center;}
.Menu2_superior_usuario div{cursor:pointer;}


.Menu2_inferior{display:flex;justify-content:space-around;}
.Menu2_inferior_opciones{background-color:#17202A;width:100%;display:flex;flex-direction:row;justify-content:space-around;}
.Menu2_inferior_opciones div{border:0px solid #8a1313;width:100%;text-align:center;margin:1px;padding:5px;}
.Menu2_inferior_opciones div label{margin-top:5px;}
.Menu2_inferior_opciones div:hover svg{fill:url(#rojo_naranja)}
.Menu2_inferior_opciones div:hover label{color:#E51b1b}

.Menu2_buscador{background:#17202A;}
.Menu2_buscador_cuadro{display:flex;flex-direction:row;justify-content:center;padding:5px;border:0px solid #3f1919;border-radius:0px 0px 50px 50px;width:50%;color:#cecece;}
.Menu2_buscador_cuadro select{padding:0px 10px;border-style:none;border-radius:50px 0px 0px 50px;text-align-last:center;
    font-size:17px;color:white;background:linear-gradient(-45deg,#ee6e6e,#E51b1b,#ee6e6e);}
.Menu2_buscador_cuadro input{border-style:none;width:100%;color:#b3b1b1;font-size:17px;padding:3px;}
.Menu2_buscador_cuadro button{border-radius:0px 50px 50px 0px;border-style:none;padding:0px 10px;margin-right:0px;
    font-size:17px;color:white;background:linear-gradient(-45deg,#ee6e6e,#E51b1b,#ee6e6e);}

.Principal3{margin-top:50px;display:grid;grid-template-columns:250px 1fr 250px;}
.principal_lateral{overflow:hidden;}
.PrincipalCentral{display:flex;flex-direction:column;align-items:center;}
.principal_central{max-width:1000px;overflow:hidden;display:grid;grid-template-columns:1fr;grid-gap:10px;}
.principal_central_opciones{background:white;display:flex;flex-direction:row;max-width:700px;
    border:1px solid #fefe;box-shadow:10px 5px 10px 0 rgba(0, 0, 0, 0.5);border-radius:15px;}
.principal_central_opciones div{display:grid;grid-template-columns:70px 1fr;align-items: center;padding:5px;}
.principal_central_opciones label{font:500 13px 'Fira Sans';}
.principal_central_opciones a{color:#EE7752;font:bold 13px 'Fira Sans';}

.principal2_publicidad {display:grid;width:50%;}
.principal2_publicidad div{margin:10px;}
.principal2_publicidad div img{border-radius:20px;}

.principal3_publicidad{margin:20px auto;display:grid;grid-gap:10px;}
.principal3_publicidad_lista_lateral{display:flex;flex-direction:column;height:800px;}
.principal3_publicidad_lista_central{display:flex;width:100%}

/* Atencion al cliente */
.HorarioAtencion{margin: 0px;padding: 25px 25px 0px 25px;}
.HAtencion{display: grid;grid-template-columns: auto auto;margin-top: 30px;}
.camDevoluciones{padding: 20px 60px 0px 60px;}
.HorarioAtencion p, .HAtencionInfo a, .PoliticaDatos p, .TerminosCondiciones p, ol,ul, .CondicionesPromociones p, .Conocenos p{color: #444;font-size: 15px;padding-top: 8px;text-decoration: none; line-height : 25px;}

.PoliticaDatos,.TerminosCondiciones, .CondicionesPromociones, .Conocenos{margin: 0px;padding: 25px 70px 0px 70px;}

/* Atencion al cliente */

/* Contacto formulario */
.TrabajaConNosotros{margin: 0px;padding: 25px 200px 0px 200px;}

.contacto_formularioTN {display:grid;grid-template-columns:repeat(2,1fr);gap:1em;}
.contacto_formularioTN textarea{resize: none;color: #444;border-radius: 10px 10px 10px 10px;border: none;padding-left: 10px;padding-top: 3px;padding-bottom: 3px;font-size: 17px;outline: none;margin: 7px;}
.contacto_formulario_infoTN, .contacto_formulario_mensajeTN{display:grid;grid-gap:5px;}
.contacto_formulario_mensajeTN{grid-column: 1/3;}
.contacto_formularioTN button{background:linear-gradient(-45deg,#E51b1b,#EE7752,#E51b1b);color: white;border:0;border-radius: 15px;display: block;margin: 15px auto;padding: 15px 45px;width: 100%;font:600 18px '';letter-spacing:2px;cursor: pointer;opacity: 1;visibility: visible;}
.contacto_formularioTN button:hover{transition: all .3s ease;background-color: rgba(0,0,0,0.8);}
.contacto_formularioTN input{display: block;height: 30px;padding-left: 10px;padding-top: 3px;padding-bottom: 3px;margin: 7px;font-size: 17px;border-radius: 20px;background: rgb(255, 255, 255);border: none;transition: background 0.5s;color: #444;}
.botonContactoFormularioTN{display: block;}
/* Contacto formulario */


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    float: top;
    font-size: 3ex;
    font-weight: bold;
    text-align: center;
  }
.tab{
  display: flex;flex-direction:row;justify-content: center;
}
.tab a{
  display:grid;
  grid-template-columns: 30px 1fr;
}
.tab a:hover{
  background-color: #ccc;
}
.tab a:hover svg{
  fill: red;
} 

.tab a.active{
  background-color: #ccc;
  fill: red;
}
 
/* Estilo de los botones para abrir un TAB */
.tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 2ex;
    font-weight: bold;
  }
  
  /* Crear Tab Principal */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Estilo del contenido del TAB */
  .tabcontent {
    /*display: none;*/
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .TiendaPerfilTienda{
      text-align: left;
  }

  .contacto {

    background-color: #E1E8EE;
    display: flex;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .tabs-icon {
    font-size: 10px;
    overflow: hidden;
}
.tabs-icon i {
    display: block;
    margin-top: 5px;
    margin-bottom: -15px;
    font-size: 24px;
}
.tabs-icon a.active {
    background-color: #ccc;
}
/* OVERWRITE MATERIAL CSS MIN WIDTH FOR MOBILE */
.tabs .tab {
    min-width: 50px !important
}
.tabs .tab-hide {
      display: none;
}
.no-pd {
    padding: 0 !important
}

/* ----------------------------------- */

.Registro,.confirmarRegistro{display:grid;grid-gap:20px;margin-top:50px;}
.registro_imagen{display:grid;}
.registro_datos{display:grid;grid-template-columns:1fr;grid-gap:10px;width:250px;}
.registro_confirmacion{display:grid;grid-template-columns:1fr;grid-gap:10px;width:350px;}
.registro_siguiente{display:flex;justify-content:center;align-items:center;}
.registro_siguiente button{width:150px;height:50px;font-size:20px;}

.Ingreso{display:grid;grid-gap:20px;}
.ingreso_encabezado{display:grid;grid-template-columns:10% 90%;grid-gap:10px;margin:10px;}
.ingreso_datos{display:grid;grid-gap:10px;}
.ingreso_siguiente{width:150px;height:50px;font-size:20px;}

.Entrega{display:grid;grid-gap:20px;margin:10px;}
.entrega_encabezado{display:grid;grid-template-columns:10% 90%;grid-gap:10px;margin:10px;}
.entrega_cuerpo{display:grid;grid-gap:20px;margin:20px;}
.entrega_siguiente{width:170px;height:50px;font-size:20px;}

.item_producto{display:grid;grid-template-columns:50px 300px 30px;grid-gap:10px;}
.item_producto_imagen img{width:80px;}
.productos_disponibles{display:grid;grid-template-columns:repeat(1,1fr);grid-gap:10px;}

.boton_imagen {border-radius:20px;cursor:pointer;position:relative;height:25vh;width:70%;}
.boton_imagen img{z-index:-100;width:100%;height:100%;border-radius:20px;}
.boton_imagen div{
    display: flex;
    justify-content: center;align-items: center;text-align:center;
    position:absolute;font-size:5vh;font-weight:bold;
    top:50%;left:50%;transform: translate(-50%,-50%);
    width: 100%;height: 100%;color: whitesmoke;
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
    border-radius: 20px;}
.opcion_menu a{display:flex;justify-content:center;align-items:center;padding:15px;border-bottom:1px solid #ced4da}
.opcion_menu a img{width:45px;}
.eliminar_direccion{display:flex;justify-content:center;align-items: center;}


@media screen and (max-width: 1600px) {
    .principal3_publicidad_lista_lateralq{width:200px;}
    .principal3_publicidad_lista_centralq{width:1500px;}
}


@media screen and (max-width: 1200px) {
    .PiePagina,.lista_restaurantes{grid-template-columns:repeat(2,1fr)}
    .principal3_publicidad_lista_centralq{width:1100px;}
}

@media screen and (max-width: 1000px) {
    .principal3_publicidad_lista_centralq{width:900px;}
}

@media screen and (max-width: 800px) {
    .Contacto,.PiePagina,.lista_restaurantes,.contacto_formulario{grid-template-columns:1fr;}
    .contacto_formulario_mensaje{grid-column:1;}
    .principal_categoria_opciones{flex-direction:column;}
    .lista_DiseñoProductos{grid-template-columns:repeat(2,1fr)}
    
    .principal3_publicidad_lista_lateralq{display:none;}
    .principal3_publicidad_lista_centralq{width:600px;}
}

@media (max-width: 450px){
    .modal_ventana{margin:50px auto;}
    .menu_items,.menu_usuario,.menu_aplicacion{width:90%;}
    .menu_item_ocultar{display:none;}

    .Menu2_inferior{display:grid;grid-template-columns:1fr;}
    .Menu2_buscador_cuadro{width:100%;}
    .PrincipalCategoria{margin-top:100px;}

    .Principal3{grid-template-columns:1fr;margin-top: 100px;}
    .principal_central_opciones{display:none;}
    
    .principal_central{width:320px;}
    .principal3_publicidad{margin-top:30px;}
    
    .principal3_publicidad_lista_lateral{display:none;}
    .principal3_publicidad_lista_central{width:500px;}

    .principal_titulo{top:75px}
    .paginas_aplicacion{margin-left:0%;width:100%;height:100%;}    
    .pedido_modal {left:1%;width:350px;}
    .barra_lateral {display:none;}
    .principal_aplicaciones{grid-template-columns:1fr;}
    .principal_buscador_cuadro{width:90%;}
    .principal_buscador_mensaje{width:100%;}
    .principal_buscador{margin-top:75px;}
    .producto_buscador{width:90%;}
    .usuario_datos_informacion_cliente{grid-template-columns:1fr;}
    .usuario_componentes{grid-template-columns:1fr;width:95%;}
    .usuario_menu{display:none;}
    .usuario_encabezado{grid-template-columns:1fr;}
    .usuario_encabezado_menu svg{display:inline;}
    .usuario_tabla table{width:100%;}
    .negocio_tienda_datos{width:300px;}
    .principal_categoria_opciones{flex-direction:column;}
    .lista_DiseñoProductos{grid-template-columns:repeat(1,1fr)}

    .Cliente,.Tienda{margin-top:50px;}

    #map{width: 300px;}
}

/*
linear-gradient(-45deg,#E51b1b,#EE7752,#E51b1b)
background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('/img/fondos/fondo.jpg')no-repeat center/cover;
background:rgba(0, 0, 0, 0);
*/