/** TOP RESTAURANTES **/

.MejoresRestaurantes{justify-content:center;align-content:center;padding-bottom:10px;}
.MejoresRestaurantes h2{color:#3d4d67;font-size:28px;font-family:'Roboto',sans-serif;letter-spacing:1px;text-align:Center;}

.lista_restaurantes{display:grid;grid-template-columns:repeat(3,1fr);text-align:center;gap:40px;}
.lista_restaurantes_item{border:1px solid #e2e4e9;transition:all 1s ease;}
.lista_restaurantes_item:hover {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    box-shadow: 1px 1px 20px rgb(131, 128, 128);}

.restaurante_item_imagen{width:100%;height:18em;}
.restaurante_item_imagen figcaption{
    position:relative;bottom:50px;left:50%;margin-left:-50px;
    background:#fff;padding:10px;border-radius:50%;width:100px;height:100px;}
.restaurante_item_imagen figcaption img{width:100%;vertical-align:middle;border-radius:50%;}

/** TOP RESTAURANTES **/

/****** CONTACTO ******/

.Contacto{background-color:#ebedf3;display:grid;grid-template-columns:repeat(2,1fr);}
.preguntas_frecuentes,.contacto_informacion{padding:2vh;}

.preguntas_frecuentes_lista{display:grid;grid-gap:10px;}
.preguntas_frecuentes_item button:hover {background-color:#ccc;}
.preguntas_frecuentes_item button{
    color: #444;
    background-color: #ebedf3;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: 0.4s;
    outline: none;
    text-align: left;
    border: none;
    padding-top: 8px;
    border-top:1px solid #e2e4e9;}
.preguntas_frecuentes_item div{
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;}
.preguntas_frecuentes_item button:after {
    content: '\002B';
    color: #444;
    font-weight: bold;
    float: right;}
.pregunta_activa:after {content:"\2212";}

.contacto_datos,.contacto_datos div{display:grid;grid-gap:10px;}
.contacto_datos_comunicacion{grid-template-columns:repeat(2,1fr);}

.contacto_formulario {display:grid;grid-template-columns:repeat(2,1fr);gap:1em;}
.contacto_formulario textarea{resize: none;}
.contacto_formulario div{display:grid;grid-gap:5px;}
.contacto_formulario_mensaje{grid-column: 1/3;}
.contacto_formulario button{
    width:180px;background:gray;padding:10px;
    border:none;border-radius: 25px;
    font-family:'Open sans';color:white;
    font-size:20px;font-weight:600;cursor:pointer;}
.contacto_formulario button:hover{background:white;color:black;}
.contacto_formulario input,.contacto_formulario textarea{
    border:none;padding:3px;border-bottom: 2px solid #d1d1d1;
    font-family:'Open sans';color:#5a5a5a;font-size:14px;}
 
/****** CONTACTO ******/

/***** PIE PAGINA *****/

 .PiePagina {display: grid;grid-gap:10px;margin:5vh;grid-template-columns:repeat(4,1fr);}
  
 .PiePagina span,a{color:#afb8c7;font:400 Normal 18px/19px "Poppins",sans-serif;}
 .PiePagina label{font:600 Normal 18px/20px "Poppins",sans-serif;
     letter-spacing:1px;text-transform:uppercase;color:#e51b1b;}

 .AtencionCliente,.PoliticasCondiciones,.Nosotros,.Comunicate{display:grid;text-align:center;grid-gap:3vh;border-bottom:1px solid #ebedf3;padding-bottom:10px;}

 .comunicate_item{display:grid;grid-template-columns:20% 80%;align-items:center;cursor:pointer;width:50%;}
 .comunicate_item div{height:35px;background:#e51b1b;border-radius:50%;width:35px;height:35px;}

 .comunicate_redes{display:flex;justify-content:space-around;}
 .comunicate_redes img{width:40px;height:40px;}

 /***** PIE PAGINA *****/


@media screen and (max-width: 1200px) {
    .PiePagina,.lista_restaurantes{grid-template-columns:repeat(2,1fr)}
}

@media screen and (max-width: 800px) {
    .Contacto,.PiePagina,.lista_restaurantes,.contacto_formulario{grid-template-columns:1fr;}
    .contacto_formulario_mensaje{grid-column:1;}
}