  /* Pie de Pagina */

  .PiePagina {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      margin: 50px;
  }

  .PiePagina h3 {
      font: 600 Normal 18px/20px "Poppins", sans-serif !important;
      letter-spacing: 1px !important;
      text-transform: uppercase !important;
      color: #e51b1b !important;
  }

  .PiePagina img {
      width: 40px;
      height: 40px;
  }

  .Comunicate {
      display: grid;
      grid-template-rows: 80px 50px 1fr;
  }

  .PiePagina .numeros {
      font: Normal 20px/30px "Poppins", sans-serif;
  }

  .RedesSociales {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
  }

  .RedesSociales div {
      display: grid;
      grid-template-columns: repeat(4, 50px);
  }

  .PiePagina .Nosotros, .PiePagina .TeInformamos, .PiePagina .AtencionCliente, .PiePagina .PoliticasCondiciones {
      display: grid;
      grid-template-rows: 80px;
  }

  .PiePagina a {
      color: black;
  }

  .PiePagina .logo {
      height: 35%;
      width: 100%;
  }

  /* Pie de Pagina */

  /* Mejores Restaurantes */

  .MejoresRestaurantes {
      margin: 20px 150px 100px 150px;
      /* margin: 20px auto; */
      color: #3d4d67;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 34px;
      text-align: Center;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-rows: 130px;
      
  }

  .MejoresRestaurantes .TopRest {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
  }

  .MejoresRestaurantes .TopRest a {
      display: block;
  }

  .MejoresRestaurantes .TopRest .tops {
      display: grid;
      grid-template-rows: 1fr 200px;
      border: 1px solid rgb(241, 236, 236);
      transition: all 1s ease;
  }

  .tops:hover {
      -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
      transform: scale(1.01);
      box-shadow: 1px 1px 20px rgb(131, 128, 128);
  }

  .MejoresRestaurantes .TopRest .tops .topImagen {
      display: grid;
      grid-template-rows: 210px 40px;
  }

  .MejoresRestaurantes figcaption {
      position: relative;
      bottom: 50px;
      left: 50%;
      margin-left: -50px;
      background: #fff;
      padding: 10px;
      border-radius: 50%;
      width: 100px;
      height: 100px;
  }

  .MejoresRestaurantes figcaption img {
      width: 100%;
      vertical-align: middle;
      border-radius: 50%;
  }

  .MejoresRestaurantes .TopRest .tops .topTexto {
      display: grid;
      grid-template-rows: 50px 80px 20px;
  }

  /* Mejores Restaurantes */