/* Estilo del Tab */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    float: top;
    font-size: 3ex;
    font-weight: bold;
    text-align: center;
  }
.tab{
  display: flex;flex-direction:row;justify-content: center;
}
.tab a{
  display:grid;
  grid-template-columns: 30px 1fr;
}
.tab a:hover{
  background-color: #ccc;
}
.tab a:hover svg{
  fill: red;
} 

.tab a.active{
  background-color: #ccc;
  fill: red;
}
 
/* Estilo de los botones para abrir un TAB */
.tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 2ex;
    font-weight: bold;
  }
  
  /* Crear Tab Principal */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Estilo del contenido del TAB */
  .tabcontent {
    /*display: none;*/
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .TiendaPerfilTienda{
      text-align: left;
  }

  .contacto {

    background-color: #E1E8EE;
    display: flex;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .tabs-icon {
    font-size: 10px;
    overflow: hidden;
}
.tabs-icon i {
    display: block;
    margin-top: 5px;
    margin-bottom: -15px;
    font-size: 24px;
}
.tabs-icon a.active {
    background-color: #ccc;
}
/* OVERWRITE MATERIAL CSS MIN WIDTH FOR MOBILE */
.tabs .tab {
    min-width: 50px !important
}
.tabs .tab-hide {
      display: none;
}
.no-pd {
    padding: 0 !important
}

